.header {
	.header_moblie_wrapper {
		width: 100%;
		background-color: black;
		position: fixed;
		z-index: 100;
		.header_mobile {
			margin: auto;
			display: flex;
			width: 90%;
			justify-content: space-between;
			align-items: center;
			padding: 18px 0;
		}
		.menu_mobile {
			display: flex;
			flex-direction: column;
			a {
				text-decoration: none;
				color: hsla(0, 0%, 100%, 0.6);
				margin: 0;
				transition: all 0.4s;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
